pre{tab-size: 4; -moz-tab-size: 4; font-size: 14px;}
tag{color: cornflowerblue; font-weight: bold; }
attribute{color: lightcoral; font-weight: bold}
value{color: lightsalmon; font-weight: bold;}
control{color: silver; font-weight: bold;}